<!-- app loading... -->
<link rel="import" href="../elements.html">

<dom-module id="drawer-panel-layout">
    <template>
        <style>
          :host {
              -webkit-tap-highlight-color: rgba(0,0,0,0);
          }
          paper-drawer-panel {
            --paper-drawer-panel-main-container: {
              /* background-color: rgba(19,95,184,0.005);*/
              /* border-left: 1px solid rgba(0,0,0, 0.12);*/
            };
            --paper-drawer-panel-drawer-container: {
              background-color: #13283b;
            };
            /*--paper-drawer-panel-scrim-opacity: {
              opacity: 1;
            }*/
          }
          sc-termobar {
            position: absolute;
            right: 0;
            z-index: 1000;
          }
          [main] {
            height: 100%;
            border: 0;
          }
          [main] > .main {
              border: 0;
          }

          paper-spinner-lite.orange {
              position: fixed;
              left: 50%;
              top: 12px;
              opacity: 0.2;
              z-index: 100;
              --paper-spinner-color: var(--google-yellow-500);
          }

        </style>
        <sc-termobar id="termobar"></sc-termobar>
        <!-- Tablet yet not supported so force-narrow and default-selected main -->
        <paper-drawer-panel id="drawer"
            default-selected="main"
            force-narrow right-drawer
            edge-swipe-sensitivity="90"
            drawer-width="300px">
            <div drawer>
                <content select=".drawer"></content>
            </div>
            <div main>
                <!--<paper-spinner-lite class="orange"></paper-spinner-lite>-->
                <content select=".main"></content>
            </div>
        </paper-drawer-panel>
    </template>
    <script>
        Polymer({
            is: 'drawer-panel-layout',
            properties: {
                showTermobar: {
                    type: Boolean,
                    value: true,
                    observer: "_showTermobarChanged"
                }
            },
            ready: function() {
                var self = this;
                var scFeeds = this.querySelector('sc-feeds');
                var scHome = this.querySelector('sc-home');
                
                if (scFeeds) {
                    // we can add anything when sc-feeds is active
                    // Demonstration values:
                    a =[          {"label": "2015RI/00000145" , "value": 120, "unit": "minutos"}, {"label": "2015RDP00000015" , "value": 310, "unit": "minutos"}, {"label": "2015RI/00000245" , "value": 150, "unit": "minutos"}];
                    this.$.termobar.data = a;
                    /** Active the termobar if drawer is opened */
                    this.$.drawer.addEventListener('iron-select', function(evt){
                        if (evt.detail.item.id === 'drawer') {
                            self.$.termobar.activate = true;
                            self.$.drawer.disableSwipe = false;
                            //self.$.drawer.disableEdgeSwipe = false;
                        }
                        if (evt.detail.item.id === 'main') self.$.termobar.activate = false;
                    });

                } else {
                    this.$.drawer.disableSwipe = true;
                    //this.$.drawer.disableEdgeSwipe = true;
                }
            },
            _showTermobarChanged: function() {
                var termobar = this.$.termobar;
                if (!this.showTermobar) {
                    termobar.enabled = false;
                }
            }
        });
    </script>
</dom-module>
